@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-color: #575d63;
    color: #fff7f7;
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top:20px;
    padding-bottom:10px;
    background-color: #34383b;
    border-bottom: 1px groove white;
}

.cabecalho-navegacao {
    display: flex;
    font-size: 23px;    
    gap: 70px;
}

.cabecalho-navegacao-item{
    color: #fa5a2a;
}

.cabecalho-navegacao-item:hover {
    border-bottom: 0.4px solid #e7edff;
    
}  
.conteudo-sobre{
    font-size:20px;
    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.conteudo-html{
    float:left;
    text-align:center;
    width:20%;
    margin-left: 150px;
    
}
.conteudo-git{
    float:left;
    text-align:center;
    width:20%;
}
.conteudo-css{
    float:left;
    text-align:center;
    width:20%;

}
.conteudo-js{
    float:left;
    text-align:center;
    width:20%;
}
.t1{
    color: rgb(0, 223, 252);
    margin-top: 10px; 
}
.t2{
    color: rgb(211, 176, 63);
    text-align: center;
    margin-top: 10px; 
}
#t1 a{
    color: rgb(0, 225, 255);
}
#t1 a:hover{
    color:red;
}
.b2{
    float: left ;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 20px;
    padding-left:10px ;
    padding-right: 10px;
    width: 41%;
    margin-right: 50px;
    text-align: justify;
}

.b2 a{
    text-decoration: none;
    color: rgba(7, 4, 207, 0.671);
}
.b2 a:hover{
    color: red;
}
.b2 a:visited{
    color: rgba(183, 0, 255, 0.746);
}
.b3{
    display: inline-block;
    background-color: #363636;
    border-radius: 10px;
    padding-top: 40px;
    margin-top: 20px;
    width: 45.5%;
    margin-right: 50px;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.562);
    border: inset 2px white;
}
.b3 a{
    text-decoration: none;
    color: rgba(7, 4, 207, 0.671);
}
.b3 a:hover{
    color: red;
}
.b3 a:visited{
    color: rgba(183, 0, 255, 0.746);
}

.img{
    padding: 10px 0px 10px 0;
    display: flex;
    justify-content: center;
}
.bold{
    padding:10px;
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.bloco-conteudo{
    font-size:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:20px 235px 20px 235px;
    gap: 10px;
}
.bloco-conteudo a{
    text-decoration: none;
    color: rgb(0, 2, 121);
}
.bloco-conteudo a:hover{
    color: red;
}
.bloco-conteudo a:visited{
    color: rgba(29, 171, 4, 0.746);
}
.bloco-conteudo a:visited:hover{
    color: red;
}

.bloco-topico{
    display: flex;
    margin-left: 50px;
}

.bloco-conteudo-js-1{
    float:left;
    font-size:20px;
    margin:15px 2px 25px 300px;
    text-align: left;
    padding: 10px;
}
.bloco-conteudo-js-1 a{
    text-decoration: none;
    color: rgb(0, 2, 121);
}
.bloco-conteudo-js-1 a:hover{
    color: red;
}
.bloco-conteudo-js-1 a:visited{
    color: rgba(29, 171, 4, 0.746);
}
.bloco-conteudo-js-1 a:visited:hover{
    color: red;
}
.bloco-conteudo-js-2{
    float:left;
    font-size:20px;
    margin:15px 2px 25px 150px;
    width: 31.5%;
    text-align: left;
    padding: 10px;
}
.bloco-conteudo-js-2 a{
    text-decoration: none;
    color: rgb(0, 2, 121);
}
.bloco-conteudo-js-2 a:hover{
    color: red;
}
.bloco-conteudo-js-2 a:visited{
    color: rgba(29, 171, 4, 0.746);
}
.bloco-conteudo-js-2 a:visited:hover{
    color: red;
}
h1{
    color: rgba(0, 238, 255, 0.918);
}
h2{
    color: rgba(255, 196, 0, 0.74);
}
h3{
    color: rgb(16, 190, 0);
}
ol{
    list-style:circle;
}

.titulo-html{
    display: flex;
    color: rgb(249, 55, 41);
    margin-left:460px;
    margin-bottom: 20px;
}
.titulo-gits{
    display: flex;
    color: rgb(78, 223, 20);
    margin-left:492px;
    margin-bottom: 20px;
}
.titulo-css{
    display: flex;
    color:rgb(43, 120, 243);
    margin-left:492px;
    margin-bottom: 20px;
}
.titulo-js{
    display: flex;
    color: rgb(255, 234, 47);
    margin: 15px 0px 0px 650px;
}

.rodape{    
    display: block;
    align-items: center;
    text-align: center;
    color: rgb(201, 199, 199);
    font-size: 20px;
    padding: 15px 0px 42px 0px;
    margin-top: 290px;
    background-color: #34383b;
    border-top: 1px groove white;
}
.rodape-conteudo-git{    
    display: block;
    align-items: center;
    text-align: center;
    color: rgb(201, 199, 199);
    font-size: 20px;
    padding: 15px 0px 42px 0px;
    margin-top: 271px;
    background-color: #34383b;
    border-top: 1px groove white;
}
.rodape-aula04{
    display: block;
    align-items: center;
    text-align: center;
    color: rgb(201, 199, 199);
    font-size: 20px;
    padding: 25px 0px 42px 0px;
    margin-top: 20px;
    background-color: #34383b;
    border-top: 1px groove white;
}
.rodape-js{    
    display: block;
    align-items: center;
    text-align: center;
    color: rgb(201, 199, 199);
    font-size: 20px;
    padding: 15px 0px 42px 0px;
    margin-top: 1160px;
    background-color: #34383b;
    border-top: 1px groove white;
}