header{
    background-color: #141200;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: 50px;
    width: 92.5%;
    border: inset 5px rgb(116, 115, 115);
}

.logo{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
    padding-left: 30px;
    
}

.navegacao{
    overflow: hidden; /*Ajusta o conteúdo no box e esconde a barra de rolagem*/
    margin-left: 100px;
}

.navegacao a{
    font-size: 15px;
    float: right;
    display: block;
    border-radius: 2px;
    color: #09e2ff;
    text-decoration: none;
    text-align: right;
    padding: 10px;
}
.navegacao a:hover{
    color: red;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(255, 0, 0);
}


span{
    font-weight:bold;
}
body{
    color: floralwhite;
    background-color:rgb(32, 131, 212);
}
h1#principal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 6, 130);
    border: 2.5px solid rgb(255, 255, 255);
    height:45px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}
div.agrupamento{
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(56, 15, 85);
   border: 2px solid whitesmoke;

   margin: 20px;
   padding: 12px; /*Padding = Acolchoamento é o espaçamento entre o bloco e o texto PERFEITOOOO*/ 
   
}
.bloco1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(161, 31, 8);
    border: 1.5px solid whitesmoke;
    margin:10px;
    padding:5px;
    width:60px;
    height:20px;
}
.bloco2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 23, 173);
    border: 1.5px solid whitesmoke;
    margin:10px;
    padding:5px;
    width:100px;
    height:20px;
}
.personalizado{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56, 15, 85);
    border: 2px solid whitesmoke;
    margin: 20px;
    padding: 10px;
    
}
/*HOVER serve para quando passar o mouse ele mudar a cor!!!
Bom para usar em LINKS PERSONALIZADOS!!!
*/
/*.personalizado:hover{ 
    color: rgb(255, 235, 59);
    background-color: rgba(77, 2, 43, 0.616);
    margin:20px;
    padding: 20px;
}*/
.links{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(26, 51, 134);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    width: 75px;
}
a:link{
    color: wheat;
    text-decoration: wheat;
}
a:hover{
    color: red;
    
}
a:visited{
    font-style:italic;
    color: rgb(245, 91, 225);
}
a:active{
    color: greenyellow;
}
.pseudo{
    background-color: rgb(56, 15, 85);
}
.pseudo > span{
    display: none;
}
.pseudo:hover >span{
    display:block
}
h3::selection{ /*OLHAR NO W3SCHOOLS OUTRAS FUNCIONALIDADES DO :: !!*/
    color:rgb(87, 228, 26);
    background-color: yellow;
}